
  .dashboard {
    background-color: purple;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 100px;
  }

  .dashboard h1{
    text-align: center;
    color: white;
  }

  .dashboard p{
    text-align: center;
    color: white;
  }
  
  